body.background {
    padding-top: 20px;
    padding-bottom: 40px;
    background: url(../img/bgimg3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Custom container */
.container-narrow {
    float: auto;
    margin: 0 auto;
    max-width: 700px;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 50px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 10px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Put space between the two buttons */
a#btn_about {
  width: 80px;
  margin-right: 25px;
}

div.container-button {
  margin-bottom: 20px; 
}

/* Set the background colour of the modal */
div.modal {
    background-color: #F5F5F5;
}

div.modal-header {
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 0 1px #FFFFFF inset;
    background-color: #F5F5F5;
}

div.modal-footer {
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: #F5F5F5;
}

body,td,th {
    color: #000000;
}